name: Green Garden Auto Commit

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  garden:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Water the plant (update existing file)
        run: |
          export LANG=en_US.UTF-8
          export LC_ALL=en_US.UTF-8
          echo -e "Plant watered: $(date '+%Y-%m-%d %H:%M:%S')" >> text.txt

      - name: Commit and Push
        run: |
          git config user.name "buildwithzee"
          git config user.email "buildwithzee@gmail.com"
          git add text.txt
          git diff --cached --quiet || git commit -m "Watered the garden at $(date '+%Y-%m-%d %H:%M:%S')"
          git push
